.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-banners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.banner {
  position: relative;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  animation: fadeInLeft 0.5s ease-in-out;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.banner:hover {
  transform: scale(1.05);
}

.banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  border-radius: 5px;
}

.banner:hover img {
  opacity: 1;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.banner-content p {
  font-size: 14px;
  margin-bottom: 5px;
}

.form-content {
  flex: 1;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  animation: fadeInRight 0.5s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-field {
  width: 100%;
}

button[type="submit"] {
  display: block;
  margin: 0 auto;
  width: 100%;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
