<div class="container">
  <h1>Apply Loan</h1>

  <form id="loanForm" #loanForm="ngForm" (ngSubmit)="submitLoanForm(loanForm)">
    <div class="form-container">
      <div class="form-group">
        <label class="label">Loan Amount</label>
        <input class="input" type="text" matInput required>
      </div>

      <div class="form-group">
        <label class="label">Loan Apply Date</label>
        <input class="input" type="text" matInput [matDatepicker]="loanDatePicker" required>
        <mat-datepicker-toggle class="datepicker-toggle" matSuffix [for]="loanDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #loanDatePicker></mat-datepicker>
      </div>

      <div class="form-group">
        <label class="label">Purpose</label>
        <input class="input" type="text" matInput required>
      </div>

      <div class="form-group">
        <label class="label">Loan Type</label>
        <input class="input" type="text" matInput required>
      </div>

      <button type="submit">Submit</button>
    </div>
  </form>
</div>
