.table-container {
  display: flex;
  flex-direction: column;
}

.table-container table {
  border-collapse: collapse;
  width: 100%;
}

.table-container th,
.table-container td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.table-container th:last-child,
.table-container td:last-child {
  border-right: none;
}

.table-container th {
  width: 30%;
}

