@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image:url('https://cdn.pixabay.com/photo/2016/12/18/02/41/background-1914910_1280.jpg');
   font-family: 'Figtree',sans-serif;
    border:3px solid black;
  }
  
  li {
    float: left;
    border-style:none solid none solid;
    border-color:black;
  }
  .ri{
    float: right;
  }
  
  li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
   
  }
  
  li a:hover {
    opacity: 0.8;
    background-color:lemonchiffon;
  }
