<div class="bootstrap-wrapper">
  <div class="container mt">

    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="container text-center">
          <img class="img-fluid" style="width: 100px;" src="/assets/Contact-Us-PNG.png" alt="" />
        </div>

        <h1 class="text-center">Contact Us !!</h1>
        <p>Fill up the form, our team will get back to you within 24 hours</p> 

        <form (ngSubmit)="onSubmit()" class="login-form">
          <div class="input-group">
            <h3>Fullname:</h3>
            <input matInput placeholder="Fullname" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="signup-field">
          </div>

          <div class="input-group">
            <h3>Email:</h3>
            <input matInput placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="signup-field">
          </div>

          <div class="input-group">
            <h3>Message:</h3>
            <textarea matInput placeholder="Message" [(ngModel)]="message" [ngModelOptions]="{standalone: true}" class="signup-field"></textarea>
          </div>

          <br>
          <br>
          <button mat-raised-button color="primary" type="submit" class="signup-button"   (click)="contact()">Submit</button>
        </form>
      </div>
    </div>

  </div>
</div>
