.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    padding: 20px;
    text-align: center;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
  }
  
  .login-heading {
    font-size: 34px;
    margin-bottom: 20px;
  }
  
  .login-form {
    animation: slide-up 0.5s ease;
  }
  
  @keyframes slide-up {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .login-button {
    width: 30%;
  }
  
  .password-input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #343333;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  