<div class="container mt-5">
    <div class="card">
      <h2 class="login-heading">Forgot Password</h2>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="login-form">
        <div class="input-group">
          <h3>Email:</h3>
          <input matInput type="email" placeholder="Email" formControlName="email" required class="email-input">
          <mat-error *ngIf="signupForm.get('email')?.touched && forgotPasswordForm.get('email')?.errors?.['required']">Email is required</mat-error>
          <mat-error *ngIf="signupForm.get('email')?.touched && forgotPasswordForm.get('email')?.hasError('email')">Invalid email format</mat-error>
        </div>
        <button [disabled]="forgotPasswordForm.invalid" mat-raised-button color="primary" type="submit" class="login-button">
          Send Reset Password Email
        </button>
      </form>
    </div>
  </div>
  