
<body>
    <app-navbar></app-navbar>
   

    <div class="split left">
        <div class="ls">
            
        <h3>Education loan portal</h3>
        <h1>GET FOR YOUR DREAM & ENHANCE YOUR DREAM</h1>
        </div>
    </div>
<div class="signup-block split right">
    <h1>Register here</h1>
<form #f="ngForm" novalidate (ngSubmit)="f.form.valid&&onSubmit()" >
    <div class="form-group">
        <div class="attri">
    <label for="id">ID:</label><br>
        <input type="text"  class="form-control box1" name="id" id="id" [(ngModel)]="formdata.id" #id="ngModel" required >
        <br><span class="text-danger" *ngIf="this.submit&&id.errors?.['required']" >
          ID is required.
        </span><br><br>
        </div>
        </div>
    
    <div class="form-group">
        <div class="attri">
    <label for="fname">First Name<br><i>(As per GovernmentID)</i></label><br>
        <input type="text"  class="form-control box1" name="fname" id="fname" [(ngModel)]="formdata.fname" #fname="ngModel" required >
        <br><span class="text-danger" *ngIf="this.submit&&fname.errors?.['required']" >
          First Name is required.
        </span><br><br>
        </div>
        </div>

        <div class="form-group">
            <div class="attri">
        <label for="lname">Last Name<br><i>(As per GovernmentID)</i></label><br>
            <input type="text"  class="form-control box1" name="lname" id="lname" [(ngModel)]="formdata.lname" #lname="ngModel" required >
          <br>  <span class="text-danger" *ngIf="this.submit&&lname.errors?.['required']" >
              Last Name is required.
            </span><br><br>
            </div>
            </div>

        <div class="form-group">
            <div class="attri">
        <label for="email">Email</label><br>
       <input pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="text" class="form-control box1"name="email" id="email" [(ngModel)]="formdata.email" #email="ngModel" required  >
          <br><span class="text-danger"  *ngIf="this.submit&&email.errors?.['required']">
            Email is required.
         </span>
         <span class="text-danger"  *ngIf="this.submit&&email.errors?.['pattern']">
            Enter valid Email.
         </span>
         <br><br>
            </div>
        </div>

        <div class="form-group">
            <div class="attri">
         <label for="password">Password</label><br>
              <input  class="form-control box1" type="password"  name="password" id="" [(ngModel)]="formdata.password" #password="ngModel" required minlength="8" >
             <br> <span class="text-danger"  *ngIf="this.submit&&password.errors?.['required']">
                  Password is required.
              </span>
             <br> <span class="text-danger"  *ngIf="this.submit&&password.errors?.['minlength']">
                Minimum length of password is 8 characters
            </span><br><br>
            </div>
        </div>

        <div class="form-group">
            <div class="attri">
        <label for="addr">Address</label><br>
        <input type="text" class="form-control box1" name="addr" id="addr" [(ngModel)]="formdata.addr" #addr="ngModel" required>
        <br><span class="text-danger"  *ngIf="this.submit&&addr.errors?.['required']">
            Address is required.
        </span><br><br>
            </div>
        </div>

        
        <div class="form-group">
            <div class="attri">
                <label for="phone">Phone Number</label><br>
        <input pattern="^((\\+91-?)|0)?[0-9]{10}$" type="number" class="form-control box1" name="phone" id="phone" [(ngModel)]="formdata.phone" #phone="ngModel" required>
        <br><span class="text-danger"  *ngIf="this.submit&&phone.errors?.['required']">
            Phone Number is required.
        </span>
        <span class="text-danger"  *ngIf="this.submit&&phone.errors?.['pattern']">
            Enter valid phone number.
        </span>
        <br><br>
            </div>
        </div>

        <div class="form-group">
            <div  class="text-center" *ngIf="this.loading">
                <div class="spinner-border text-primary " role="status">
                <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div><br>
        <input type="submit" class="button btn btn-primary" value="REGISTER" [disabled]="this.loading" (click)="submit=true"><br><br>

        
</form>
<div class="attri">
    If you are a new user? Click <a href="javascript:void(0);" routerLink="/signin">Login</a>
</div><br><br>
</div>

</body>