<div class="bootstrap-wrapper">
  <div  class="container margin-top">
    <div class="row">
      <div class="col-md-6 offset-md-3">

        <div class="container text-center">

          <img class="img-fluid" style="width: 100px;" src="/assets/login-logo.png" alt="" />

        </div>

        <h1 class="text-center">Login here !</h1>

        <form (ngSubmit)="onSubmit()">

          <mat-form-field class="full-width">
            <mat-label>User name</mat-label>
            <input
            [(ngModel)]="credentials.username"
            name="username"
            required type="text" matInput />
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input
            [(ngModel)]="credentials.password"
            name="password"
            required type="password" matInput />
          </mat-form-field>

          <div class="container text-center">
            <button type="submit" mat-raised-button color="primary">Login</button>

            <button style="margin-left: 10px;" type="reset" mat-raised-button color="accent">Reset</button>
          </div>
        </form>
        <br>
        <p class="mt">{{ credentials | json }}}</p>
      </div>
    </div>
  </div>
</div>
