<div class="container mt-5">
  <div class="card" style="padding: 20px;">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <input type="text"
             ngModel
             name="userEmail"
             id="userEmail"
             placeholder="Enter your Email"
             class="form-control mb-3">

      <input type="password"
             ngModel
             name="userPassword"
             id="userPassword"
             placeholder="Enter your password"
             class="form-control mb-3">

      <input type="submit"
             value="Login"
             class="btn btn-outline-primary form-control rounded-0">

      <p class="error-message" *ngIf="loginForm.submitted && loginForm.invalid">User email or password is incorrect.</p>
    </form>
  </div>
</div>
